<div class="container mt-5"></div>
<footer class="page-footer font-small pt-4">
    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center text-monospace font-weight-bold">
              <h4 class="text">Todos os direitos reservados</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md 12 d-flex justify-content-center pb-2 text-monospace font-weight-bold">

            <a href="#" class="text">Contato</a>

            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-2 text-monospace font-weight-bold">
        <span class="text">₢ 2021 Copyright: e-FAS</span>
    </div>

</footer>
