<footer class="page-footer font-small bg-info pt-4">
    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <h4 class="text-white">Todos os direitos reservados</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md 12 d-flex justify-content-center">

            <a href="#" class="text-light">Contato</a>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">₢ 2021 Copyright: e-FAS</span>
    </div>

</footer>
