<div class="container mb-5 mt-5">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-3">Apagar produto</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Você tem certeza que deseja apagar este produto?</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-5">
           
            <h3 class="d-flex justify-content-center">{{produto.nome}}</h3>
            <h4 class="d-flex justify-content-center">{{produto.preco}}</h4>
        
            <h5 class="d-flex justify-content-center mt-5">{{produto.observacao}}</h5>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-danger mr-3" routerLink='/'>Não</button>
            <button class="btn btn-success" (click)='apagar()'>Sim</button>
        </div>
    </div>

</div>