<div class="container-fluid cont">
    <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-4">
            <div class="form-group">
                <input [(ngModel)]='nomeCategoria' type="text" class="form-control" id="titulo" placeholder="Digite um produto para pesquisar" [(ngModel)]='tituloProd' (keyup)='findByNomeProduto()'>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card-columns p-5" *ngFor='let categoria of listaCategoria'>
            <div class="card text-center border-0" *ngFor='let item of categoria.postagem | orderBy : key : reverse'>
                <div *ngIf='item.nome.includes(tituloProd)'>
                    <div class="card carta">
                        <img class="card-img-top" src={{item.foto}} alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title m-0">{{item.nome}}</h5>
                            <p class="text-success"> R$ {{item.preco}},00</p>
                            <small class="text-muted"> Categoria: {{item.categoria.nome}}</small>
                            <p class="card-text"><small class="text-muted">
                                    {{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}
                                </small></p>
                            <p class="card-text"><small class="text-muted">
                                    by: {{item.usuario.nome}}
                                </small></p>
                            <a [routerLink]="['/produto', item.id]" class="btn btn-primary">Visualizar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>