<div class="container mb-5 mt-5" id='categorias'>

    <div class="tab-pane fade" id="postagemCategoria" role="tabpanel" aria-labelledby="nav-postagemCategoria-tab">

        <div class="row d-flex justify-content-center mt-5 mb-5">
            <div class="col-md-4">
                <div class="form-group">
                    <input [(ngModel)]='nomeCategoria' type="text" class="form-control" id="titulo" placeholder="Digite um produto para pesquisar">
                </div>
            </div>
        </div>

    </div>
</div>