<!--Menu-->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg ">

        <a class="navbar-brand myLogo" routerLink='/inicio'><img src="https://i.imgur.com/DecAfeT.png" class="logo" /></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <i class="fa fa-caret-down" style="color: white;" aria-hidden="true"></i>
       </button>

        <div class="collapse navbar-collapse cont" id="conteudoNavbarSuportado">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link d-flex justify-content-center " href="#" data-toggle="modal" data-target="#modalExemplo">Cadastrar produtos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link d-flex justify-content-center" routerLink='/somos'>Quem somos</a>
                </li>
            </ul>

            <ul class="navbar-nav  d-flex align-items-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle ml-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Minha conta
                            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-center" [routerLink]="['/minha-conta',idUsuario]">Editar</a>
                        <a class="dropdown-item text-center" href="" (click)='sair()'>Sair</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
</div>

<!--/Menu-->

<!--Modal-->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Novo Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <label for="nome">Nome do produto</label>
                    <input [(ngModel)]='produto.nome' ngDefaultControl type="text" name="nomeProduto" class="form-control" id="nomeProduto" placeholder="Insira o nome do produto">
                </div>

                <div class="form-group">
                    <label for="preco">Preço do produto</label>
                    <input [(ngModel)]='produto.preco' ngDefaultControl type="text" name="precoProduto" class="form-control" id="precoProduto" placeholder="Insira o preço do produto">
                </div>

                <div class="form-group">
                    <label for="categoria">Categoria do produto</label>
                    <select name="categoria" id="categoria" class="form-control" [(ngModel)]='idCategoria' (change)='findByIdCategoria()'>
                  <option *ngFor='let item of listaCategoria' value="{{item.id}}">{{item.nome}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label ngDefaultControl for="linkImagemProduto">Link da imagem</label>
                    <input [(ngModel)]='produto.foto' type="text" name="imagemProduto" class="form-control" id="imagemProduto" placeholder="Insira o link da imagem do produto">
                </div>
                <!---->

                <div class="form-group">
                    <label ngDefaultControl for="descricao">Descrição do produto</label>
                    <textarea [(ngModel)]='produto.observacao' class="form-control" name="descricao" id="descricao" rows="5"></textarea>
                </div>

                <!---->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)='publicar()' data-dismiss="modal">Publicar</button>
            </div>
        </div>
    </div>
</div>
<!--/Modal-->