<!--Menu-->
<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand myLogo" href="#"><img src="https://i.imgur.com/DecAfeT.png" class="logo"/></a>    
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-monospace font-weight-bold fs-14" href="#">Home |<span class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-monospace font-weight-bold fs-14" href="#">Produtos |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-monospace font-weight-bold fs-14" href="#">Cadastrar produtos |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-monospace font-weight-bold fs-14" href="#">Quem somos</a>
        </li>      
      </ul>  

      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link text-monospace font-weight-bold fs-14" href="#">Minha conta</a>
        </li>
      </ul>
      
      
    </div>
  </nav>

<!--Menu-->