<div class="container">
    <div class="col-md-12 px-5">

        <!--Teste editar e deletar-->
        <div class="container-md-12">
            <div class="row mt-5 d-flex justify-content-end">
                <a [routerLink]="['/produto-edit', produto.id]" href="" type="button" class="btn btn-editar mr-3">Editar</a>
                <a [routerLink]="['/produto-delete', produto.id]" href="" type="button" class="btn btn-deletar">Deletar</a>
            </div>
        </div>
        <!--/Teste editar e deletar-->





        <!--Foto do produto-->
        <div class="produto">
            <div class="row d-flex justify-content-center">
                <div class="container-fluid " >
                    <div class="d-flex justify-content-center">
                        <img src="" class="img-fluid fotoProduto" alt="Imagem responsiva">
                    </div>
                    <!--{{produto.foto}}-->
                </div>
            </div>
        </div>
        <!--/Foto do produto-->



        <!--Nome, valor e publicação-->
        <div class="container-md-12">
            <div class="row mt-5">
                <div class="col-md-6">
                    <div class="container d-flex justify-content-start">
                        <p class="nomeProduto">nome</p>
                    </div>
                    <!--{{produto.nome}}-->
                </div>

                <div class="col-md-6">
                    <div class="container d-flex justify-content-end">
                       <p class="valorProduto">preço</p>
                    </div>
                    <!--{{produto.preco}}-->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="container d-flex justify-content-end">
                                <p class="publicacaoProduto">Data da publicação</p> 
                            </div>
                            <!--{{produto.data}}-->
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <!--/Nome, valor e publicação-->



        <!--Informações do produto-->
        <div class="col-md-6 d-flex justify-content-start mt-2">
            <div class="row">
                <div class="col-md-12">
                    <p>descricao</p>
                </div>
            </div>
            <!--{{observacao}}-->
        </div>
        <!--/Informações do produto-->
        


        <!--Contato com vendedore-->
        <div class="col-md-12 d-flex justify-content-end mt-3 ">
            <a class="mr-2" href="http://api.whatsapp.com/send?phone={{usuario.celular}}." target="_blank"> <button type="button" class="btn btn-contato" >Whatsapp</button></a>
            <!--{{usuario.celular}}-->

            <a href="{{usuario.email}}" target="_blank"> <button type="button" class="btn btn-contato lm-2" >Email</button></a>
        </div>
        <!--/Contato com vendedore-->



        <!--Informações vendedore-->
        <!--
        <div class="container-fluid">
            <div class="card mt-5 fundoVendedore d-flex justify-content-center" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://www.hojeemdia.com.br/polopoly_fs/1.638756!/image/image.jpg_gen/derivatives/landscape_653/image.jpg" class="card-img fotoVendedore p-1" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body ml-4">
                        <h5 class="card-title nomeVendedore textoCard">Nome {{usuario.nome}}</h5>
                        <p class="card-text textoCard">aaaaaaaaaa</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->

        <!--/Informações vendedore-->

    </div>
</div>