.nomeProduto {
    font-weight: bold;
    font-size: 35pt;
}

.valorProduto {
    font-weight: bold;
    font-size: 30pt;
}

.fotoVendedore {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.fundoVendedore {
    background-color: #006B54;
}

.nomeVendedore {
    font-weight: bold;
    font-size: 25pt;
}

.textoCard {
    color: white;
}

.btn-editar {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-deletar {
    color: rgb(99, 95, 95);
    border: 2px solid #F9960E;
    background-color: #FCB808;
}

.btn-contato {
    color: white;
    background-color: #006B54;
}