<div class="container">
    <div class="col-md-12 px-5">

        <!--Teste editar e deletar-->
        <div class="container-md-12">
            <div *ngIf='autor()' class="row mt-5 d-flex justify-content-end">
                <a [routerLink]="['/produto-edit', produto.id]" href="" type="button" class="btn btn-editar mr-3">Editar</a>
                <a [routerLink]="['/produto-delete', produto.id]" href="" type="button" class="btn btn-deletar">Deletar</a>
            </div>
        </div>
        <!--/Teste editar e deletar-->





        <!--Foto do produto-->
        <div class="produto">
            <div class="row d-flex justify-content-center">
                <div class="container-fluid ">
                    <div class="d-flex justify-content-center">
                        <img src="{{produto.foto}}" class="img-fluid fotoProduto" alt="Imagem responsiva">
                    </div>
                    <!--{{produto.foto}}-->
                </div>
            </div>
        </div>
        <!--/Foto do produto-->



        <!--Nome, valor e publicação-->
        <div class="container-md-12">
            <div class="row mt-5">
                <div class="col-md-6">
                    <div class="container d-flex justify-content-start">
                        <p class="nomeProduto">{{produto.nome}}</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="container d-flex justify-content-end">
                        <p class="valorProduto">$ {{produto.preco}}</p>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="container d-flex justify-content-end">
                                <div class="row">
                                    <small class="mr-3">Data de publicação</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container d-flex justify-content-end">
                                <p class="publicacaoProduto">{{produto.date | date:'dd/MM/yyyy'}} as {{produto.date | date:'HH:mm'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Nome, valor e publicação-->



        <!--Informações do produto-->
        <div class="col-md-6 d-flex justify-content-start mt-2">
            <div class="row">
                <div class="col-md-12">
                    <p>{{produto.observacao}}</p>
                </div>
            </div>
            <!--{{observacao}}-->
        </div>
        <!--/Informações do produto-->



        <!--Contato com vendedore-->
        <div class="col-md-12 d-flex justify-content-end mt-3 ">
            <a class="mr-2" href="http://api.whatsapp.com/send?phone={{usuario.celular}}." target="_blank"> <button type="button" class="btn btn-contato">Whatsapp</button></a>

            <a href="{{usuario.email}}" target="_blank"> <button type="button" class="btn btn-contato lm-2">Email</button></a>
        </div>
        <!--/Contato com vendedore-->

    </div>
</div>