<div class="container">
    <div class="row">
        <div class="col-3 mt-4 mb-4">
            <img src="https://i.imgur.com/fS4i0cC.jpg" alt="" width="230px" Height="250px" class="rounded-circle">
        </div>
        <div class="col-7 mt-5 mb-3 alert alert-success">
            <h1 class="card-title text-titulo">Desenvolvedor Daniel santos</h1>
            <h6 class="card-subtitle mb-2 text-titulo">Projeto e-Fas</h6>
            <p class="card-text text-titulo">Sim, curvo-me ante a beleza de ser às vezes zombo de mim mesmo ao término
                de uma inteligente e aguçada constatação. Ermitão do insólito, poeta da dúvida Entretanto duvido a
                dúvida por ser dúvida fruto de uma premissa lógica Mas nego, afirmo
                e não duvido de nada Prisioneiro sem grade desse silêncio eterno.</p>
            <a href="#" class="card-link text-link">https://github.com/DanielSantoSouza</a>
        </div>
        <div class="col">
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col-7 mt-5 mb-3 alert alert-success">
                <h1 class="card-title text-titulo">Desenvolvedor Daniel santos</h1>
                <h6 class="card-subtitle mb-2 text-titulo">Projeto e-Fas</h6>
                <p class="card-text text-titulo">Sim, curvo-me ante a beleza de ser às vezes zombo de mim mesmo ao
                    término de uma inteligente e aguçada constatação. Ermitão do insólito, poeta da dúvida Entretanto
                    duvido a dúvida por ser dúvida fruto de uma premissa lógica Mas nego, afirmo
                    e não duvido de nada Prisioneiro sem grade desse silêncio eterno.</p>
                <a href="#" class="card-link text-link">https://github.com/DanielSantoSouza</a>
            </div>

            <div class="col-3 mt-4 mb-4">
                <img src="https://i.imgur.com/fS4i0cC.jpg" alt="" width="230px" Height="250px" class="rounded-circle">
            </div>
            <div class="col">
            </div>
            <div class="row">
                <div class="col">

                </div>
                <div class="col-3 mt-4 mb-4">
                    <img src="https://i.imgur.com/fS4i0cC.jpg" alt="" width="230px" Height="250px"
                        class="rounded-circle">
                </div>
                <div class="col-7 mt-5 mb-3 alert alert-success">
                    <h1 class="card-title text-titulo">Desenvolvedor Daniel santos</h1>
                    <h6 class="card-subtitle mb-2 text-titulo">Projeto e-Fas</h6>
                    <p class="card-text text-titulo">Sim, curvo-me ante a beleza de ser às vezes zombo de mim mesmo ao
                        término de uma inteligente e aguçada constatação. Ermitão do insólito, poeta da dúvida
                        Entretanto duvido a dúvida por ser dúvida fruto de uma premissa lógica Mas nego,
                        afirmo e não duvido de nada Prisioneiro sem grade desse silêncio eterno.</p>
                    <a href="#" class="card-link text-link">https://github.com/DanielSantoSouza</a>
                </div>
                <div class="col">
                </div>
                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col-7 mt-5 mb-3 alert alert-success">
                        <h1 class="card-title text-titulo">Desenvolvedor Daniel santos</h1>
                        <h6 class="card-subtitle mb-2 text-titulo">Projeto e-Fas</h6>
                        <p class="card-text text-titulo">Sim, curvo-me ante a beleza de ser às vezes zombo de mim mesmo
                            ao término de uma inteligente e aguçada constatação. Ermitão do insólito, poeta da dúvida
                            Entretanto duvido a dúvida por ser dúvida fruto de uma premissa lógica Mas
                            nego, afirmo e não duvido de nada Prisioneiro sem grade desse silêncio eterno.</p>
                        <a href="#" class="card-link text-link">https://github.com/DanielSantoSouza</a>
                    </div>

                    <div class="col-3 mt-4 mb-4">
                        <img src="https://i.imgur.com/fS4i0cC.jpg" alt="" width="230px" Height="250px"
                            class="rounded-circle">
                    </div>
                    <div class="col">
                    </div>
                    <div class="row">
                        <div class="col">

                        </div>

                        <div class="col-3 mt-4 mb-4">
                            <img src="https://i.imgur.com/fS4i0cC.jpg" alt="" width="230px" Height="250px"
                                class="rounded-circle">
                        </div>
                        <div class="col-7 mt-5 mb-3 alert alert-success">
                            <h1 class="card-title text-titulo">Desenvolvedor Daniel santos</h1>
                            <h6 class="card-subtitle mb-2 text-titulo">Projeto e-Fas</h6>
                            <p class="card-text text-titulo">Sim, curvo-me ante a beleza de ser às vezes zombo de mim
                                mesmo ao término de uma inteligente e aguçada constatação. Ermitão do insólito, poeta da
                                dúvida Entretanto duvido a dúvida por ser dúvida fruto de uma premissa lógica
                                Mas nego, afirmo e não duvido de nada Prisioneiro sem grade desse silêncio eterno.</p>
                            <a href="#" class="card-link text-link">https://github.com/DanielSantoSouza</a>
                        </div>
                        <div class="col">
                        </div>
                        <div class="row">
                            <div class="col">

                            </div>
                            <div class="col-7 mt-5 mb-3 alert alert-success">
                                <h1 class="card-title text-titulo">Desenvolvedor Daniel santos</h1>
                                <h6 class="card-subtitle mb-2 text-titulo">Projeto e-Fas</h6>
                                <p class="card-text text-titulo">Sim, curvo-me ante a beleza de ser às vezes zombo de
                                    mim mesmo ao término de uma inteligente e aguçada constatação. Ermitão do insólito,
                                    poeta da dúvida Entretanto duvido a dúvida por ser dúvida fruto de uma premissa
                                    lógica
                                    Mas nego, afirmo e não duvido de nada Prisioneiro sem grade desse silêncio eterno.
                                </p>
                                <a href="#" class="card-link text-link">https://github.com/DanielSantoSouza</a>
                            </div>

                            <div class="col-3 mt-4 mb-4">
                                <img src="https://i.imgur.com/fS4i0cC.jpg" alt="" width="230px" Height="250px"
                                    class="rounded-circle">
                            </div>
                            <div class="col">
                            </div>
                            <div class="row">
                                <div class="col">

                                </div>