<div class="container">
    <div class="row">
      <div class="col mt-5 mb-5">
        <img src="https://i.imgur.com/fS4i0cC.jpg" alt="Imagem do user" width="100px" height="100px"
        class="img-fluid rounded">
      </div>
      <div class="col-9 mt-5 mb-5">
        <h1 class="card-title">Desenvolvedor Daniel santos</h1>
        <h6 class="card-subtitle mb-2 text-muted">Projeto e-Fas</h6>
        <p class="card-text">Sim, curvo-me ante a beleza de ser
            às vezes zombo de mim mesmo ao término de uma
            inteligente e aguçada constatação.
            Ermitão do insólito, poeta da dúvida
            Entretanto duvido a dúvida por ser dúvida
            fruto de uma premissa lógica
            Mas nego, afirmo e não duvido de nada
            Prisioneiro sem grade desse silêncio eterno.</p>
        <a href="#" class="card-link">https://github.com/DanielSantoSouza</a>
      </div>
      <div class="col">
      </div>
      <div class="row">
        <div class="col">

        </div>
        <div class="col-9 mt-4 mb-5">
          <h1 class="card-title">Desenvolvedor Daniel santos</h1>
          <h6 class="card-subtitle mb-2 text-muted">Projeto e-Fas</h6>
          <p class="card-text">Sim, curvo-me ante a beleza de ser
              às vezes zombo de mim mesmo ao término de uma
              inteligente e aguçada constatação.
              Ermitão do insólito, poeta da dúvida
              Entretanto duvido a dúvida por ser dúvida
              fruto de uma premissa lógica
              Mas nego, afirmo e não duvido de nada
              Prisioneiro sem grade desse silêncio eterno.</p>
          <a href="#" class="card-link">https://github.com/DanielSantoSouza</a>
        </div>
        <div class="col mt-5 mb-5">
            <img src="https://i.imgur.com/fS4i0cC.jpg" alt="Imagem do user" width="100px" height="100px"
            class="img-fluid rounded">
        </div>
      </div>
      <div class="row">
        <div class="col mt-5 mb-5">
          <img src="https://i.imgur.com/fS4i0cC.jpg" alt="Imagem do user" width="100px" height="100px"
          class="img-fluid rounded">
        </div>
        <div class="col-9 mt-4 mb-5">
          <h1 class="card-title">Desenvolvedor Daniel santos</h1>
          <h6 class="card-subtitle mb-2 text-muted">Projeto e-Fas</h6>
          <p class="card-text">Sim, curvo-me ante a beleza de ser
              às vezes zombo de mim mesmo ao término de uma
              inteligente e aguçada constatação.
              Ermitão do insólito, poeta da dúvida
              Entretanto duvido a dúvida por ser dúvida
              fruto de uma premissa lógica
              Mas nego, afirmo e não duvido de nada
              Prisioneiro sem grade desse silêncio eterno.</p>
          <a href="#" class="card-link">https://github.com/DanielSantoSouza</a>
        </div>
        <div class="col">
        </div>
        <div class="row">
          <div class="col">
  
          </div>
          <div class="col-9 mt-4 mb-5">
            <h1 class="card-title">Desenvolvedor Daniel santos</h1>
            <h6 class="card-subtitle mb-2 text-muted">Projeto e-Fas</h6>
            <p class="card-text">Sim, curvo-me ante a beleza de ser
                às vezes zombo de mim mesmo ao término de uma
                inteligente e aguçada constatação.
                Ermitão do insólito, poeta da dúvida
                Entretanto duvido a dúvida por ser dúvida
                fruto de uma premissa lógica
                Mas nego, afirmo e não duvido de nada
                Prisioneiro sem grade desse silêncio eterno.</p>
            <a href="#" class="card-link">https://github.com/DanielSantoSouza</a>
          </div>
          <div class="col mt-5 mb-5">
              <img src="https://i.imgur.com/fS4i0cC.jpg" alt="Imagem do user" width="100px" height="100px"
              class="img-fluid rounded">
          </div>
        </div>
        <div class="row">
            <div class="col mt-5 mb-5">
              <img src="https://i.imgur.com/fS4i0cC.jpg" alt="Imagem do user" width="100px" height="100px"
              class="img-fluid rounded">
            </div>
            <div class="col-9 mt-4 mb-5">
              <h1 class="card-title">Desenvolvedor Daniel santos</h1>
              <h6 class="card-subtitle mb-2 text-muted">Projeto e-Fas</h6>
              <p class="card-text">Sim, curvo-me ante a beleza de ser
                  às vezes zombo de mim mesmo ao término de uma
                  inteligente e aguçada constatação.
                  Ermitão do insólito, poeta da dúvida
                  Entretanto duvido a dúvida por ser dúvida
                  fruto de uma premissa lógica
                  Mas nego, afirmo e não duvido de nada
                  Prisioneiro sem grade desse silêncio eterno.</p>
              <a href="#" class="card-link">https://github.com/DanielSantoSouza</a>
            </div>
            <div class="col">
            </div>
            <div class="row">
              <div class="col">
      
              </div>
              <div class="col-9 mt-4 mb-5">
                <h1 class="card-title">Desenvolvedor Daniel santos</h1>
                <h6 class="card-subtitle mb-2 text-muted">Projeto e-Fas</h6>
                <p class="card-text">Sim, curvo-me ante a beleza de ser
                    às vezes zombo de mim mesmo ao término de uma
                    inteligente e aguçada constatação.
                    Ermitão do insólito, poeta da dúvida
                    Entretanto duvido a dúvida por ser dúvida
                    fruto de uma premissa lógica
                    Mas nego, afirmo e não duvido de nada
                    Prisioneiro sem grade desse silêncio eterno.</p>
                <a href="#" class="card-link">https://github.com/DanielSantoSouza</a>
              </div>
              <div class="col mt-5 mb-5">
                  <img src="https://i.imgur.com/fS4i0cC.jpg" alt="Imagem do user" width="100px" height="100px"
                  class="img-fluid rounded">
              </div>
            </div>
    </div>