.card {
    background-color: #006B54;
    border-radius: 1%;
}

.fotoImpar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.fotoPar {
    border-radius: 50%;
}

.nome {
    font-weight: bold;
    font-size: 25pt;
    color: white;
}

.descricao {
    font-size: 13pt;
    color: white;
}

.text-link {
    color: rgb(133, 195, 253);
}