<div class="container-fluid mt-5">
    <div class="col-md-12 px-5">


        <!--Aline-->
        <div class="container d-flex justify-content-start">
            <div class="card mb-3 d-flex " style="max-width: 780px;">
                <div class="row no-gutters">
                    <div class="col-md-4 p-4 fotoImpar img-fluid">
                        <img src="https://imgur.com/xodYfym.jpg" class="card-img fotoImpar " alt="...">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body ml-4">
                            <h5 class="card-title text-monospace nome">Aline Midori Tanaka</h5>
                            <p class="card-text descricao">Tenho 24 anos, sou formada em Logística. Atualmente formada em Fullstack Jr. pela Generation Brasil e cursando Análise e Desenvolvimento de Sistemas na Fatec.</p>
                            <div class="row ml-1">
                                <a class="card-link text-link" href="https://github.com/alinemi" target="_blank">GitHub</a>
                                <p class="mx-3">|</p>
                                <a class="card-link text-link" href="https://www.linkedin.com/in/aline-midori-tanaka-513958127/" target="_blank">LinkedIn</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Aline-->


        <!--Carol-->
        <div class="container d-flex justify-content-end mt-4">
            <div class="card mb-3 d-flex " style="max-width: 750px;">
                <div class="row d-flex flex-row-reverse no-gutters">
                    <div class="col-md-4 p-3 fotoPar img-fluid">
                        <img src="https://i.imgur.com/3zYi1e1.jpg" class="card-img fotoPar mr-5" alt="...">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body ml-4">
                            <h5 class="card-title nome">Carolina Fernanda Ribeiro da Cruz</h5>
                            <p class="card-text descricao">Futurista e focada. Palavras que me definem como pessoa e como profissional.
                            </p>
                            <p class="card-text descricao">
                                Sou Arquiteta por formação, e através da parte tecnológica da arquitetura, descobri uma grande paixão por desenvolvimento, o que me fez optar por uma transição de carreira, onde me tornarei Desenvolvedora Java Júnior Full Stack, pelo Bootcamp da Generation.</p>
                            <div class="row ml-1">
                                <a class="card-link text-link" href="https://github.com/CarolinaZurc" target="_blank">GitHub</a>
                                <p class="mx-3">|</p>
                                <a class="card-link text-link" href="https://www.linkedin.com/in/carolina-zurc/" target="_blank">LinkedIn</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Carol-->


        <!--Daniel-->
        <div class="container d-flex justify-content-start">
            <div class="card mb-3 d-flex " style="max-width: 780px;">
                <div class="row no-gutters">
                    <div class="col-md-4 p-4 fotoImpar img-fluid">
                        <img src="https://i.imgur.com/tiRMTA8.jpg" class="card-img fotoImpar " alt="...">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body ml-4">
                            <h5 class="card-title nome">Daniel Santos de Souza</h5>
                            <p class="card-text descricao">Tenho 24 anos formado como Full Stack Junior pela Generation Brasil, Sou um dos desenvolvedores do Projeto e-FAS, e criador do blogdodani.</p>
                            <div class="row ml-1">
                                <a class="card-link text-link" href="https://github.com/DanielSantoSouza" target="_blank">GitHub</a>
                                <p class="mx-3">|</p>
                                <a class="card-link text-link" href="https://www.linkedin.com/in/daniel-santos-770034210/" target="_blank">LinkedIn</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Pessoa?-->


        <!--Edu-->
        <div class="container d-flex justify-content-end mt-4">
            <div class="card mb-3 d-flex " style="max-width: 750px;">
                <div class="row d-flex flex-row-reverse no-gutters">
                    <div class="col-md-4 p-3 fotoPar img-fluid">
                        <img src="https://i.imgur.com/Fgsrf7G.png" class="card-img fotoPar mr-5" alt="...">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body ml-4">
                            <h5 class="card-title nome">Eduardo Carlos dos Santos Lacalle</h5>
                            <p class="card-text descricao">Um aficionado por tecnologia, buscando sempre novos desafios e superar expectativas,formado em tecnico em mecatrônica, agora buscando ingressar no mercado de TI me formando como desenvolvedor Web Java Jr. Pela Generation Brasil</p>
                            <div class="row ml-1">
                                <a class="card-link text-link" href="https://github.com/Edu-Lacalle" target="_blank">GitHub</a>
                                <p class="mx-3">|</p>
                                <a class="card-link text-link" href="https://www.linkedin.com/in/eduardo-lacalle/" target="_blank">LinkedIn</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Edu-->



        <!--Isac-->
        <div class="container d-flex justify-content-start">
            <div class="card mb-3 d-flex " style="max-width: 780px;">
                <div class="row no-gutters">
                    <div class="col-md-4 p-4 fotoImpar img-fluid">
                        <img src="https://i.imgur.com/VCj0FrY.png" class="card-img fotoImpar " alt="...">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body ml-4">
                            <h5 class="card-title nome">Isac Bianor Amador Silva</h5>
                            <p class="card-text descricao">Uma pessoa carismática, cheia de vontade de aprender e com determinação para superar expectativas, tanto pessoais quanto profissionais.
                            </p>
                            <p class="card-text descricao">
                                Tenho 18 anos, persistência para melhorar o meu futuro e desejo de proporcionar um espaço seguro para as pessoas ao meu redor.</p>
                            <div class="row ml-1">
                                <a class="card-link text-link" href="https://github.com/IsacBianor" target="_blank">GitHub</a>
                                <p class="mx-3">|</p>
                                <a class="card-link text-link" href="https://www.linkedin.com/in/isac-bianor-amador-silva/" target="_blank">LinkedIn</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Isac-->


        <!--Yasmin-->
        <div class="container d-flex justify-content-end mt-4">
            <div class="card mb-3 d-flex " style="max-width: 750px;">
                <div class="row d-flex flex-row-reverse no-gutters">
                    <div class="col-md-4 p-3 fotoPar img-fluid">
                        <img src="https://i.imgur.com/zKrIBCu.jpeg" class="card-img fotoPar mr-5" alt="...">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body ml-4">
                            <h5 class="card-title nome">Yasmin Luma Santos Faria</h5>
                            <p class="card-text descricao">Olá, eu sou Yasmin Luma tenho 22 anos, estudante de engenharia civil, e recém formada full stack junior pela generation brasil.</p>
                            <div class="row ml-1">
                                <a class="card-link text-link" href="https://github.com/yasminluma" target="_blank">GitHub</a>
                                <p class="mx-3">|</p>
                                <a class="card-link text-link" href="https://www.linkedin.com/in/yasmin-luma/" target="_blank">LinkedIn</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Yasmin-->


    </div>
</div>