<div class="container-fluid" >
    <div class="row d-flex align-items-center">

        <div class="col-md-12">

             <div class="text-center col-md-12" id="img-bg">
                 
                <br>
                 <br>

                        <img src="https://imgur.com/Ova4rBb.png" class="rounded" alt="some-text" height="150px" width="150px">
                      </div>
                    <p></p>
            <div class="row d-flex justify-content-center">
                <div class="col-md-5">

                    <br>
                     <br>


                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input [(ngModel)]='userLogin.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="seu usuário">
                    </div>

                    <div class="form-group">
                        <label  for="senha" >Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="sua senha">
                    </div>

                    <br>
                    <br>


                    <div class="d-flex justify-content-center mr-6 ">
                        <button type="submit" class="btn btn-success" (click)='entrar()'>Entrar</button>
                    </div>

                    <br>
                    <br>

                    <hr class="mt-6 mb-6">
                    <p class="text-center">
                       <b> Não tem uma conta?</b> <a routerLink="/cadastrar"> Cadastre-se</a>
                    </p>

                </div>
            </div>

            </div>
</div>

        </div>
