.categoria{
    width: 160pt;
    height: 160pt;
}

.img-fluid{
    max-width: 100%; 
    height: auto;
}

.produto{
    width: 150pt;
    height: 150pt;
    padding: 5pt;
}

.cont{
        
    font-weight: bold;
    font-size: 14pt;
    font-family: monospace;
}