<div class="container-fluid p-0">
<div class="row">
    <div class="col-md-12">
        <br> <br>
        <div class="container align-self-center p-0">
            <div class="card-group">
                <div class="p-3">
                    <div class="card categoria" style="width: 12rem;">
                        <a routerLink="/produto/:id">
                            <img class="card-img-top img-fluid rounded-circle" src="https://i.imgur.com/hKgsRM7.jpg"
                                alt="Imagem de capa do card"></a>
                    </div>
                </div>
                
                <div class="p-3">
                    <div class="card categoria" style="width: 12rem;">
                        <a routerLink="/produto/:id">
                            <img class="card-img-top img-fluid rounded-circle" src="https://i.imgur.com/V2r1wc3.jpg"
                                alt="Imagem de capa do card"></a>
                    </div>
                </div>

                <div class="p-3">
                    <div class="card categoria" style="width: 12rem;">
                        <a routerLink="/produto/:id">
                            <img class="card-img-top img-fluid rounded-circle" src="https://i.imgur.com/fdgSTMw.jpg"
                                alt="Imagem de capa do card"></a>
                    </div>
                </div>

                <div class="p-3">
                    <div class="card categoria" style="width: 12rem;">
                        <a routerLink="/produto/:id">
                            <img class="card-img-top img-fluid rounded-circle" src="https://i.imgur.com/FL5nMdU.jpg"
                                alt="Imagem de capa do card"></a>
                    </div>
                </div>

                <div class="p-3">
                    <div class="card categoria" style="width: 12rem;">
                        <a routerLink="/produto/:id">
                            <img class="card-img-top img-fluid rounded-circle" src="https://i.imgur.com/LtB3iS7.jpg"
                                alt="Imagem de capa do card"></a>
                    </div>
                </div>

                <div class="p-3">
                    <div class="card categoria" style="width: 12rem;">
                        <a routerLink="/produto/:id">
                            <img class="card-img-top img-fluid rounded-circle" src="https://i.imgur.com/tT1TbU7.jpg"
                                alt="Imagem de capa do card"></a>
                    </div>
                </div>

                <div class="p-3">
                    <div class="card categoria" style="width: 12rem;">
                        <a routerLink="/produto/:id">
                            <img class="card-img-top img-fluid rounded-circle" src="https://i.imgur.com/tT1TbU7.jpg"
                                alt="Imagem de capa do card"></a>
                    </div>
                </div>

                <div class="p-3">
                    <div class="card categoria" style="width: 12rem;">
                        <a routerLink="/produto/:id">
                            <img class="card-img-top img-fluid rounded-circle" src="https://i.imgur.com/tT1TbU7.jpg"
                                alt="Imagem de capa do card"></a>
                    </div>
                </div>

                <div class="p-3">
                    <div class="card categoria" style="width: 12rem;">
                        <a routerLink="/produto/:id">
                            <img class="card-img-top img-fluid rounded-circle" src="https://i.imgur.com/tT1TbU7.jpg"
                                alt="Imagem de capa do card"></a>
                    </div>
                </div>

                <div class="p-3">
                    <div class="card categoria" style="width: 12rem;">
                        <a routerLink="/produto/:id">
                            <img class="card-img-top img-fluid rounded-circle" src="https://i.imgur.com/tT1TbU7.jpg"
                                alt="Imagem de capa do card"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>