<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <br> <br>
            <div class="container align-self-center p-0">

                <p class="d-flex justify-content-center">Selecione o produto desejado:</p>
                <br> <br>

                <div class="card-group p-0">

                    <div class="p-3">
                        <div class="card categoria rounded-circle border-0" style="width: 12rem;">
                            <a routerLink="/produto/:id">
                                <img class="card-img-top img-fluid" src="https://i.imgur.com/FZwhzEq.png"
                                    alt="Imagem de capa do card"></a>
                            <div class="card-body"></div>
                            <br>
                            <p class="d-flex justify-content-center">Abacate</p>
                        </div>
                    </div>

                    <div class="p-3">
                        <div class="card categoria rounded-circle border-0" style="width: 12rem;">
                            <a routerLink="/produto/:id">
                                <img class="card-img-top img-fluid" src="https://i.imgur.com/nKKuU1J.jpg"
                                    alt="Imagem de capa do card"></a>
                            <div class="card-body"></div>
                            <br>
                            <p class="d-flex justify-content-center">Abacaxi</p>
                        </div>
                    </div>

                    <div class="p-3">
                        <div class="card categoria rounded-circle border-0" style="width: 12rem;">
                            <a routerLink="/produto/:id">
                                <img class="card-img-top img-fluid" src="https://i.imgur.com/BJPhn2X.jpg"
                                    alt="Imagem de capa do card"></a>
                            <div class="card-body"></div>
                            <br>
                            <p class="d-flex justify-content-center">Banana</p>
                        </div>
                    </div>

                    <div class="p-3">
                        <div class="card categoria rounded-circle border-0" style="width: 12rem;">
                            <a routerLink="/produto/:id">
                                <img class="card-img-top img-fluid" src="https://i.imgur.com/aZgigLj.jpg"
                                    alt="Imagem de capa do card"></a>
                            <div class="card-body"></div>
                            <br>
                            <p class="d-flex justify-content-center">Pera</p>
                        </div>
                    </div>

                    <div class="p-3">
                        <div class="card categoria rounded-circle border-0" style="width: 12rem;">
                            <a routerLink="/produto/:id">
                                <img class="card-img-top img-fluid" src="https://i.imgur.com/dAQ6s30.png"
                                    alt="Imagem de capa do card"></a>
                            <div class="card-body"></div>
                            <br>
                            <p class="d-flex justify-content-center">Maçã</p>
                        </div>
                    </div>

                    <div class="p-3">
                        <div class="card categoria rounded-circle border-0" style="width: 12rem;">
                            <a routerLink="/produto/:id">
                                <img class="card-img-top img-fluid" src="https://i.imgur.com/IifB9MW.jpg"
                                    alt="Imagem de capa do card"></a>
                            <div class="card-body"></div>
                            <br>
                            <p class="d-flex justify-content-center">Laranja</p>
                        </div>
                    </div>

                    <div class="p-3">
                        <div class="card categoria rounded-circle border-0" style="width: 12rem;">
                            <a routerLink="/produto/:id">
                                <img class="card-img-top img-fluid" src="https://i.imgur.com/9Wj7CxU.jpg"
                                    alt="Imagem de capa do card"></a>
                            <div class="card-body"></div>
                            <br>
                            <p class="d-flex justify-content-center">Morango</p>
                        </div>
                    </div>

                    <div class="p-3">
                        <div class="card categoria rounded-circle border-0" style="width: 12rem;">
                            <a routerLink="/produto/:id">
                                <img class="card-img-top img-fluid" src="https://i.imgur.com/BaP3qhm.jpg"
                                    alt="Imagem de capa do card"></a>
                            <div class="card-body"></div>
                            <br>
                            <p class="d-flex justify-content-center">Uva</p>
                        </div>
                    </div>

                    <div class="p-3">
                        <div class="card categoria rounded-circle border-0" style="width: 12rem;">
                            <a routerLink="/produto/:id">
                                <img class="card-img-top img-fluid" src="https://i.imgur.com/Vh2YF8K.jpg"
                                    alt="Imagem de capa do card"></a>
                            <div class="card-body"></div>
                            <br>
                            <p class="d-flex justify-content-center">Goiaba</p>
                        </div>
                    </div>

                    <div class="p-3">
                        <div class="card categoria rounded-circle border-0" style="width: 12rem;">
                            <a routerLink="/produto/:id">
                                <img class="card-img-top img-fluid" src="https://i.imgur.com/ViuNLnm.jpg"
                                    alt="Imagem de capa do card"></a>
                            <div class="card-body"></div>
                            <br>
                            <p class="d-flex justify-content-center">Kiwi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-end">
    Imagens ilustrativas, não correspondentes a realidade dos produtos!
  </div>