<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Atualizar produto</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                <label for="nome">Nome do produto</label>
                <input [(ngModel)]='produto.nome' type="text" class="form-control" id="nomeProduto" placeholder="Insira o nome do produto">
            </div>

            <div class="form-group">
                <label for="preco">Preço do produto</label>
                <input [(ngModel)]='produto.preco' type="text" class="form-control" id="precoProduto" placeholder="Insira o preço do produto">
            </div>

            <div class="form-group">
                <label for="categoria">Categoria do produto</label>
                <select name="categoria" id="categoria" class="form-control">
                    <option value="">Categorias</option>
                </select>
            </div>

            <div class="form-group">
                <label for="linkImagemProduto">Link da imagem</label>
                <input type="text" class="form-control" id="imagemProduto" placeholder="Insira o link da imagem do produto">
            </div>

            <div class="form-group">
                <label [(ngModel)]='produto.observacao' for="descricao">Descrição do produto</label>
                <textarea class="form-control" name="descricao" id="descricao" rows="5"></textarea>
            </div>

        </div>
    </div>

</div>